<h2>List of TV series</h2>
<%= form_with url: search_actor_path, local: true do |f| %>
  <%= f.label :actor %>
  <%= f.text_field :actor %>
  <%= f.submit :search %>
<% end %>
<table id="series_table" class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th>No. of seasons</th>
    <th>Release on</th>
    <th>Director</th>
    <th>Actor</th>
    <th>Shoot Location</th>
    <th>Country</th>
    <th>Action</th>
  </tr>
  <% @tv_series.each do |series| %>
    <tr>
      <td><%= series.name %></td>
      <td><%= series.genre %></td>
      <td><%= series.seasons %></td>
      <td><%= series.release_date %></td>
      <td><%= series.director %></td>
      <td><%= series.actor %></td>
      <td><%= series.shoot_location %></td>
      <td><%= series.country %></td>
      <td><%= link_to "Reviews(#{series.comments.length})", tv_series_path(series), method: :get %>
        | <%= link_to 'Destroy', tv_series_path(series), method: :delete %></td>
    </tr>
  <% end %>
</table>

<hr>
<h2>Upload csv</h2>
<%= form_with url: '/tv_series', local: true do |f| %>
  <%= f.label :tv_serial_list %>
  <%= f.file_field :file, id: 'tv_series', accept: 'text/csv' %>
  <%= f.submit 'Add Series'%>
<% end %>
<hr>
<%= form_with url: '/tv_seriel_comments', local: true do |f| %>
  <%= f.label :tv_serial_comments %>
  <%= f.file_field :file, required: true, id: 'tv_series_comment', accept: 'text/csv' %>
  <%= f.submit 'Add comments'%>
<% end %>

