<!DOCTYPE html>
<html>
<head>
  <title>TvSeries</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <%= link_to 'TV series', '/tv_series', class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Users', '/users', class: "nav-link" %>
      </li>
    </ul>
    <ul>
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= button_to "Log out", destroy_user_session_path, :method => 'delete' %>
          </li>
        <% else %>
          <li>
            <%= button_to "login", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </ul>
  </div>
</nav>
<section class="container" style="margin-top: 100px">
  <%= render 'layouts/flash_notification' %>
  <%= yield %>
</section>
</body>
</html>
`